* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
  background-color: rgb(24, 24, 24);
}

.webgl {
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #09080a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  font-size: 32px;
}

.loading .progress-bar {
  height: 10px;
  width: 300px;
  background: #ebd5a7cb;
  margin-top: 50px;
  border-radius: 10px;
  position: relative;
}

.loading .progress-bar-in {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f7b11c;
  border-radius: 10px;
  margin: 0;
  transform: scaleX(0);
  transform-origin: left;
}

.panel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.panel .content {
  visibility: hidden;
}

.title {
  color: white;
  font-size: 46px;
  font-weight: bold;
  background: #000000a6;
  padding: 30px;
  position: absolute;
  top: 100px;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
}

#go {
  display: none;
  position: relative;
  margin-top: 40px;
  text-transform: uppercase;
}

.email-form {
  position: absolute;
  top: 50%;
  right: 300px;
  transform: translateY(-50%);
}

.email-form > div {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.email-form input {
  background: #a6a2a28a;
  border: 7px solid white;
  font-size: 32px;
  box-shadow: 0 0 10px 2px white;
  padding: 10px;
  outline: none;
}

.email-form input::placeholder {
  color: white;
}

.submit:active {
  background-color: rgb(68, 212, 68);
  box-shadow: 0 0 10px 3px rgb(68, 212, 68);
}

* {
  font-family: inherit;
}

button,
.button {
  position: absolute;
  background: #ffffff14;
  color: white;
  border: 4px solid white;
  border-radius: 6px;
  padding: 20px 30px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

button > span {
  font-size: 32px !important;
  vertical-align: middle;
}

button:hover {
  transform: scale(1.1);
}

.bottom {
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.center {
  top: 50%;
  transform: translateY(-50%);
}

.call-to-action-btn {
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.back {
  top: 100px;
  left: 100px;
}

.carouesl-btns {
  top: 40%;
}

.carouesl-btns.nxt {
  right: min(20vw, 200px);
}

.watch-trailer {
  top: 100px;
  right: 100px;
}

.credits-btn {
  bottom: 100px;
  right: 100px;
}

.carouesl-btns.prev {
  left: min(20vw, 200px);
}

button.bottom:hover {
  transform: translateX(-50%) scale(1.1);
}

.call-to-action-btn:hover {
  transform: translateX(-50%) scale(1.1);
}

button.bottom:active {
  transform: translateX(-50%) scale(0.9);
}

.call-to-action-btn:active {
  transform: translateX(-50%) scale(0.9);
}

.bottom-left {
  bottom: 100px;
  left: 100px;
}

.bottom-right {
  bottom: 100px;
  right: 100px;
}

.center-left {
  top: 50%;
  left: 100px;
}

.center-right {
  top: 50%;
  right: 100px;
}

button:active {
  transform: scale(0.9);
}

.home-btn {
  top: 70px;
  left: 70px;
  border-radius: 50%;
  opacity: 0.3;
}

.home-btn:hover {
  opacity: 1;
}

iframe {
  background-color: rgb(122, 118, 118);
}
